@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body {
	overflow-x: hidden;
	width: 100%;
	font-size: 1.6rem;
	/*font-family: 'Dancing Script', cursive;*/
	font-family: 'Caveat', cursive;
	/*font-family: 'Silkscreen', cursive;*/
	/*font-family: 'Nunito Sans', sans-serif;*/
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #EAE7DC;

}

html {
	font-size: 10px;
	overflow-x: hidden;
}

/*HEADER STYLES*/

.header {
	height: 100px;
	width: 100%;
	display: flex;
	/*border-bottom: rgba(0, 117, 128, 0.1) solid 5px;*/
}

.wrapper {
	width: 120rem;
	margin: auto;
	height: 100%;
	display: flex;
}

.wrapper__header {
	display: flex;
}

.logo {
	display: flex;
	width: 27%;
	justify-content: space-between;
}

.logo__circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/*background-color: #376E6F;*/
	background-color: #687864;
	cursor: pointer;
	margin-top: 10px;
}

.logo__circle:hover {
	background-color: #4f7746;
}

.logo__name {
	font-size: 2.5rem;
	margin: 0;
	margin-top: 10px;
}

.logo__profession {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
	margin-top: 10px;
}

.header__navigation {
	display: flex;
	justify-content: flex-end;
	width: 73%;
}

.navigation {
	display: flex;
	align-items: center;
	font-weight: 600;
	height: 100%;
	margin: 0;
}

.navigation__li {
	margin-right: 30px;
	margin-left: 30px;
	list-style-type: none;
	font-size: 2rem;
	cursor: pointer;
}

.navigation__li_ultimate {
	margin-right: 0;
}

.navigation__li:hover {
	color: #376E6F;
}

.line {
	border: solid black 0.1px;
	height: 30%;
}

/*INFO SECTION*/

.two-column {
	width: 1000px;
	height: 650px;
	display: flex;
	margin: auto;
	align-items: center;
}

.info-section-wrapper {
	margin-bottom: 50px;
}

.info-section__avatar {
	background: url("/images/avatar2.jpg");
	background-size: cover;
	border-radius: 50%;
	width: 500px;
	height: 500px;
}

.info-section__greeting-text {
	width: 50%;
	margin-left: 30px;
}

.info-section__text {
	line-height: 1;
	font-size: 2.5rem;
}

.info-section__buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.button {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: none;
	font-size: 2rem;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.button_primary {
	background-color: #687864;
}

.button_primary:hover {
	background-color: #4f7746;
}

.button_secondary {
	background-color: #31708E;
}

.button_secondary:hover {
	background-color: #117fb2;
}

.button_third {
	background-color: #8FC1E3;
}

.button_third:hover {
	background-color: rgb(73, 158, 210);
}

.footer {
	border-top: solid rgba(104, 120, 100, 0.1) 5px;
	font-size: 2rem;
}

.footer__ul {
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 50px;
	justify-content: space-between;
	align-items: center;
	padding-left: 0;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer__li {
	list-style-type: none;
}