.two-column-portfolio {
	display: flex;
	align-items: flex-start;
}

.portfolio-section-wrapper {
	display: flex;
	flex-direction: column;
}

.portfolio__info {
	width: 50%;
	height: 300px;
	border: solid rgb(255, 255, 255) 3px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	font-size: 3rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio__headline {
	margin-top: 100px;
}