/*$light-color:rgb(255, 255, 255);
$dark-color:#000000;
$link-color:#f86f34;
$intaractive-color:#f85f1d;
$primary: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$secondary:#FE9013;
$footer-color:#111115;*/


//sizes
/*$border-width: 1px;
$wrapper-width: 1160px;*/

$desktop:1240px;
$small-desktop:1000px;
$tablet-portrait:600px;
$mobile:340px;

